Package: mapr-kafka-connect-jdbc
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-client (>= 7.2.0) | mapr-core (>= 7.2.0) , mapr-kafka (>= 3.6.1)
Maintainer: Hewlett Packard Enterprise
Description: Confluent Kafka Connect JDBC distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
